.AddQuizHeader{
    padding: 20px;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
      0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    display: flex;
    gap: 1200px;
    margin-top: 20px;   
}

.ADD-QUIZTITLE{
    font-size: 30px;
    align-items: center;
    color: black;
}

.AddQuizNameTextField .AddQuizID{
   
    margin-left: 20px;
    margin-top: 50px;
}

input{
    height: 45px;
}

/* .Qname{
    font-size: 25px;
} */

.AddQuizButton{
    /* margin-top: 50px; */
    background-color: #008CBA;
    margin-left: 950px;
    font-size: 20px;
    margin-right: 20px;
}

/* .AddQuizBtn{
    align-items: center;
    justify-content: center;
    margin-right: 0px;
    margin-left: -215px;
    width: 100px;
    height: 100px;
} */

.AddQuizButton:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #008CBA;
}

.StaffAddSAVE{
    background-color: #008CBA;
}
.StaffAddSAVE:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #008CBA;
}

.AddQuizQuestionField{
    /* text-align: center; */
    width: 100%;
    margin: 0 auto;
    margin-top: 60px;
    /* position: absolute; */
    border-top: 100px;
    /* height: 450px; */
    top: 500px;
    bottom: 0;
    left: 0;
    right: 0;
    /* background-color: gray; */
    /* padding: 20px;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
      0.3em 0.3em 1em rgba(0, 0, 0, 0.3); */
      /* box-shadow: 3px 3px 5px rgb(186 195 78), -3px -3px 5px rgb(186 195 78); */
      box-shadow: inset 0 0 10px #f8a100;   
} 

.Qno-Qtxt{
    padding: 20px;
}

.flexwrapper{
    display: flex;  
    align-items: center;
    margin-top: 20px;
    gap: 10px;
    position: relative;
    
} 

.errorMessage{
    color: red;
}

textarea {
    width: 80%;
    height: 130px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }

  .optionGrid{
    display: grid;
    grid-template-columns: repeat(2, 300px);
    gap: 10px;
  }

.radioBtn{
    vertical-align: middle;
    width: 20px;
    
    
}

.option{
    display: flex;
    margin-top: 10px;
}