 /* .body {
    background: #6a11cb;
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1)); 
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    background-size: cover;
}   */

/* .body{
    background-color: black;
} */

.body:before {
	content:"";
	position:fixed;
	left:0;
	top:0;
	right:0;
	bottom:0;
	z-index:-1;
	display:block;
    background-color: #6a11cb;
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1)); 
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
	background-size:cover;
}

.emailTextBox{
	margin-left: 35px;
}

.email{
	margin-bottom: 10px;
}
.passwordTextBox{
	margin-left: 5px;
}
.password{
	margin-bottom: 15px;
}