.correctAnswer{
    color: green;
}

.wrongAnswer{
    color: red;
}

.quizCRUD{  
    width: 1100px;
    padding: 20px;
    top: 20;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: inset 0 0 10px #f8a100;
}
.wrapper{
    margin: 8%;
    font-size: 25px;
}
.btn {
    box-shadow: none !important;
    margin-top: 10px;
    margin-right: 31px;
}
.btn-header {
    
    margin-top: 10px;
    margin-right: 31px;
}