.header{
    padding: 20px;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
      0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.StudentName{
  font-size: 30px;
  align-items: center;
  color: black;
}
.studentDispay{
  max-width: 230px;
  margin: auto;
}

.logoutButton{
  margin-left: 1350px;
}

.StudentQuiz{
  position: absolute;
  width: 1000px;
  height: 500px;
  top: 20;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  box-shadow: inset 0 0 10px #f8a100;
}

.quiz-item {
  margin: 10px 10px;
}