* {
  box-sizing: border-box;
}

.header{
    padding: 20px;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
      0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.StaffName{
  font-size: 30px;
  align-items: center;
  color: black;
}
.staffDispay{
  max-width: 230px;
  margin: auto;
}

.logoutButton{
  margin-left: 1350px;
}

.Add-Quiz{
  font-size: 20px;
}

.questionadd{
  margin-top: 20px;
  margin-left: 1350px;
}

.quizCRUD{
  width: 1100px;
  top: 20;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  box-shadow: inset 0 0 10px #f8a100;
}

/* .box {
  float: left;
  width: 33.33%;
  padding: 25px;
  
}

.quizList::after {
  content: "";
  clear: both;
  display: table;
  border-color: cyan;
}

.wrapper {
  padding: 20px;
} */

.quiz-item {
  margin: 10px 10px;
}